html {
    height: 100%;
}

body {
    height: 100%;
    background-color: lightgrey;
}

p {
    color: black;
}

a {
    color: #7777FF;
}

#main-container {
    height: 100%;
    width: 100%;
}

#row-1 {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#left-col {
    background-color: #000000;
}

#parking-map-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#parking-map-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 550px;
    padding: 20px, 0px, 20px, 0px;
    border-radius: 10px;
    background-color: #3a3535;
}

#parking-map-header-text {
    color: black;
    text-align: center;
}

.parking-spot-cell {
    border-color: white;
    border-width: 5px 5px 5px 0px;
    border-style: solid;
    width: 75px;
    height: 45px;
}