
{% extends "template.html" %}

{% block title %}
Park Smart
{% endblock %}

{% block description %}
Map of parking lot that shows parking spot availability.
{% endblock %}

{% block header_script %}
<script type="text/javascript" 
	    src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block body %}

<h3 id="parking-map-header-text">
	Parking Lot Map:
</h3>

<div id="parking-map-container">
	<table id="parking-map">

		{% for i in range(10) %}
		<tr id="parking-spot-{{i}}">
			<td class="parking-spot-cell"></td>
		</tr>
		{% endfor %}

	</table>
</div>
{% endblock %}